<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../public/styles.css">
</head>

<body>
    <h1>Home</h1>
    <ul>
        <li><a href="/recursos">Gestion de Recursos</a></li>
        <li><a href="/notifications">Gestion de Notificaciones</a></li>
        <li><a href="/reservas">Gestion de Reservas</a></li>
        <li><a href="/usuarios">Gestion de Usuarios</a></li>
    </ul>

    <form action="/logout" method="POST">
        <button type="submit">
            logout
        </button>
    </form>
    
</body>

</html>