<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recursos</title>
</head>

<body>
    <header>
        <h1>Gestió de Recursos per <%= name %>
        </h1>
    </header>
    <main>
        <section>
            <h2>Llista de Recursos</h2>
            <ul class="recurs-list">
                <li class="recurs-item">
                    <strong><%= recurso.name %></strong>
                    <span>Categoria: <%= recurso.categoria %></span>
                    <span><a href="/recursos/editar/<%=recurso.id%>">Editar</a></span>
                    <!-- Por algun motivo que desconozco al clicar en el enlace da un error en esta pantalla 🤷‍♂️ -->
                    <!-- Pero el endpoint de editar si lo escribes en la ruta del navegador funciona bien-->
                </li>
            </ul>
        </section>
    </main>
</body>

</html>